#sobre{
  flex-direction: column;
  height: 100vh;
  padding-top: 8rem;
  .wrapper{
    display: flex;
    width: 70%;
    margin: 0 auto;
    .info-left{
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1{
        margin-bottom: 2rem;
        font-size: 2rem;
      }
      p{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 40px;

      }
    }
    .sotial{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      a{
        color: black;
        display: flex;
        align-items: flex-end;
        transition: filter 0.2s;
        & + a{
          margin-left: 22px;
        }
        img{
          margin-right: 10px;
        }
        &:hover{
          filter: brightness(0.8);
        }
      }
    }
  }

  @media (max-width: 800px) {
    .wrapper{
      padding-top: 0; 
      flex-direction: column; 
      position: relative;
      height: 100%;
      width: 100%;
      .info-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 90%;
        margin: 0 auto;
        padding: 0 20px;
        border-radius: 8px;
        background: rgba(255, 192, 203, 0.6);
        h1{
          margin-bottom: 1rem;
          font-size: 20px;
        }
        p{
          font-size: 14px;
          font-weight: 500;
        }
        .sotial{
          flex-direction: column;
          gap: 15px;
          a{
            img{
              height: 20px;
            }
          }
        }
      }
      .info-rigth{
        position: absolute;
        height: 80px;
        top: -45px;
        border-radius: 50%;
        justify-content: center;
        img{
          height: 80px;
          border-radius: 50%;
        }
      }
    }
  }
  
}
